<form action="/catalog/{{product._id}}/comment" method="post">
    <div class="input-field col s12">
        <textarea id="inputAdvantages" name="advantages" class="materialize-textarea">{{product.advantages}}</textarea>
        <label for="inputAdvantages">Достоинства</label>
    </div>
    <div class="input-field col s12">
        <textarea id="inputDisadvantages" name="limitations" class="materialize-textarea">{{product.limitations}}</textarea>
        <label for="inputDisadvantages">Недостатки</label>
    </div>
    <div class="input-field col s12">
        <textarea id="textComment" name="comment" class="materialize-textarea">{{product.comment}}</textarea>
        <label for="textComment">Комментарий</label>
    </div>
    <div class="commentInput" data-success="{{product.colorBackground}}">
        {{#if product.rating}}
            {{#stars product.rating}}{{body}}{{/stars}}
            <input name="rating" id="stars"  type="number" style="display:none" value="{{product.rating}}" required>
        {{else}}
            <i data-id="1" class="material-icons comment-filter">star_border</i>
            <i data-id="2" class="material-icons comment-filter">star_border</i>
            <i data-id="3" class="material-icons comment-filter">star_border</i>
            <i data-id="4" class="material-icons comment-filter">star_border</i>
            <i data-id="5" class="material-icons comment-filter">star_border</i>
            <input name="rating" id="stars"  type="number" style="display:none" value="{{product.rating}}" required>
        {{/if}}
        <label for="stars"></label>
    </div>
    <button class="btn" type="submit" style="background:{{product.colorBackground}};">Оставить отзыв</button>
</form>