<div class="carousel carousel-slider center" >
    {{#each selection}}
        <div class="carousel-item white-text" href="#{{number}}!" style="background: radial-gradient(at top, {{colorBackground}} 30%, rgba(255,255,255,0) 73%)" >
            <img src="{{photoURL}}" alt="" style="height: 400px;width: auto">
            <div class="carousel-fixed-item center" style="height: 50%">
                <h3>{{title}}</h3>
                <h6>{{text}}</h6>
                <a class="btn waves-effect  blue-grey lighten-3 blue-grey-text" href="{{URL}}">КУПИТЬ</a>
            </div>
        </div>
    {{/each}}
</div>