<div class="center" style="margin: 10px 0">
    <h3 class="left-align">Купить в Маркете</h3>
    <div class="row center">
        {{#each topics}}
            <a class="col s12 m6 l3" href="{{link}}">
                <div class="card-panel hoverable"
                     style="padding: 0 10px; border-radius: 30px; height: 200px;overflow: hidden; background: {{backColor}}">
                    <h5 style="margin: 10px; color: {{titleColor}}">{{title}}</h5>
                    <img src="{{photoURL}}" alt=""
                         style="height: 500px">
                </div>
            </a>
        {{/each}}
    </div>
</div>