<div class="menu">
    <div class="positionCategory listCategory">{{#each menu}}
        <div class="linkCategory category" data-index="{{@index}}">
            <div class="contentCategory">
                <div class="nameCategory">{{nameCategory}}</div>
                <i class="material-icons">{{iconCategory}}</i></div>
            <div class="roundingArrow" {{#if @first}}style="display:block;"{{/if}}>
                <div class="rounding roundingTop"></div>
                <div class="rounding roundingCentre"></div>
                <div class="rounding roundingBottom"></div>
                <div class="material-icons arrow"></div></div>
            <div style="width: 0;"><div class="backgroundCategory" onmouseover="hoverCategory(event)"></div></div>
        </div>{{/each}}
    </div>
    <div class="positionCategory listType">{{#each menu}}
        <div class="absolutePositionCategory" data-index="{{@index}}" {{#if @first}}style="display:block;"{{/if}}>
            <div class="titleListType"><div>{{nameCategory}}</div></div>
            {{#ifgt listCategory.length 0}}
                {{#each listCategory}}
                    <a href="/catalog/section/{{idClass}}?"
                       class="linkCategory type" data-index="{{@index}}">
                        <div class="contentCategory">
                            <div class="nameCategory">{{nameType}}</div>
                            <div class="photoCategory flexCenter"><img src="{{photoURL}}" alt=""></div></div>
                        <div class="roundingArrow" {{#if @../first}}{{#if @first}}style="display:block;"{{/if}}{{/if}}>
                            <div class="rounding roundingTop"></div>
                            <div class="rounding roundingCentre"></div>
                            <div class="rounding roundingBottom"></div>
                            <div class="material-icons arrow"></div></div>
                        <div style="width: 0;"><div class="backgroundCategory" onmouseover="hoverCategory(event)"></div></div></a>
                {{/each}}
            {{else}}<div class="noneContent flexCenter">Нет раздела</div>
            {{/ifgt}}
        </div>{{/each}}
    </div>
    <div class="positionCategory listSearch">{{#each menu}}
        <div class="absoluteCategory" data-index="{{@index}}"
             {{#if @first}}style="display:block;"{{/if}}>{{#each listCategory}}
            <div class="absolutePositionCategory" data-index="{{@index}}"
                {{#if @../first}}{{#if @first}}style="display:block;"{{/if}}{{/if}}>
                <div class="titleListType"><div>{{nameType}}</div></div>
                {{#ifgt listSearch.length 0}}
                    {{#each listSearch}}
                        <a href="/catalog/section/{{../this.idClass}}?{{#each search}}{{nameOption}}={{idOption}}&{{/each}}"
                            class="linkCategory search" onmouseover="hoverCategory(event)">
                            <div class="contentCategory">
                                <div class="nameCategory">{{nameSearch}}</div>
                                {{#if photoURL}}<div class="photoCategory flexCenter"><img src="{{photoURL}}" alt=""></div>{{/if}}
                            </div></a>
                    {{/each}}
                {{else}}<div class="noneContent flexCenter">Нет раздела</div>
                {{/ifgt}}
            </div>{{/each}}
        </div>{{/each}}
    </div>
</div>
<script src="/menu/menu.js"></script>
<script src="/mobile/menu/menuMobile.js"></script>