{{#if error}}
    <div id="authorizationError">{{error}}</div>
{{/if}}
<div><input placeholder="Пароль"
            name="registrationPassword"
            type="password"
            value="{{registrationPassword}}"
            class="{{#if typeError}}{{#ifeq typeError 3}} invalid{{else}}valid{{/ifeq}}{{/if}}"
            style="font-size: 20px;margin-bottom: 30px"
            onclick="authorizationErrorDisplayNone(event)">
    <div class="prompt"></div></div>
<div><input placeholder="Пароль еще раз"
            name="registrationPasswordDup"
            type="password"
            value="{{registrationPasswordDup}}"
            class="{{#if typeError}}{{#ifeq typeError 4}} invalid{{else}}valid{{/ifeq}}{{/if}}"
            style="font-size: 20px;margin-bottom: 30px"
            onclick="authorizationErrorDisplayNone(event)">
    <div class="prompt"></div></div>
<input type="hidden" name="userId" value="{{userId}}">
<input type="hidden" name="token"  value="{{token}}">
<input type="hidden" name="email"  value="{{email}}">
<button type="submit" class="btn">Сменить пароль</button>