<div class="carousel carousel-slider center" >
    {{#each selection}}
        <div class="carousel-item" href="#{{number}}!" style="background: radial-gradient(at top, {{colorBackground}} 30%, rgba(255,255,255,0) 73%)" >
            <img src="{{photoURL}}" alt="" style="height: 400px;width: auto">
            <div class="carousel-fixed-item center infCarousel" style="height: 50%">
                <h4 style="color:{{titleColor}}">{{title}}</h4>
                <h6 style="color:{{titleColor}}">{{text}}</h6>
                <a class="btn" href="/catalog/{{title}}" style="background:{{titleColor}}">КУПИТЬ</a>
            </div>
        </div>
    {{/each}}
</div>