<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper navMy" >
            <a href="/" class="brand-logo center">{{title}}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {{>navbar/navbar_logics}}
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav navMy" id="mobile-demo" style="background: #929aab">
    {{#if account}}
        <li><a href="/account" class="user-view" style="height: min-content;background: #bfe5d2">
            <span class="avatar"><img src="{{account.photoUser}}" alt=""></span>
            <span class="name">{{account.nameOne}} {{account.nameTwo}}</span>
            <span class="email">{{account.emailUser}}</span>
        </a></li>
    {{/if}}
    {{>navbar/navbar_logics}}
</ul>