<div class="filteredProduct request" id="gridPhoto" data-success="{{products.length}}">
    {{#each products}}
        <div class="device">
            <div class="filterImage">
                <img id="adaptivePhoto{{@index}}" class="materialboxed" src="{{photoURL}}" alt="">
            </div>
            <div class="description">
                <a href="/catalog/{{id}}" title="{{name}}">
                    <span class="">{{name}}</span>
                </a>
                <ul class="">
                    {{#each description}}
                        {{#if @first}}
                            {{#each parameter}}
                                <li>{{value}}</li>
                            {{/each}}
                        {{/if}}
                    {{/each}}
                </ul>
                <div class="purchase">
                    {{#if @root.userStatus}}
                        <i class="material-icons js-filter" data-id="{{name}}" data-form="list" data-status="true">playlist_add</i>
                        <i class="material-icons js-filter" data-id="{{name}}" data-form="like" data-status="true">favorite_border</i>
                    {{/if}}
                    <div class="priceFilter">
                        <a href="/catalog/{{id}}" class="price">{{price}}</a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>