<div class="filteredProduct request" id="gridPhoto" data-success="{{products.length}}">
    {{#ifgt products.length 0}}
    {{#each products}}
        <div class="device">
            {{#if daysCount}}<div class="tagNEW">new</div>{{/if}}
            <div class="filterImage">
                <img class="materialboxed" src="{{photoURL}}" alt="">
            </div>
            <div class="description">
                <a href="/catalog/{{_id}}" title="{{nameProduct}}" class="nameProduct">
                    <span class="">{{nameProduct}}</span>
                </a>
                <ul class="depiction">
                    {{#each depiction}}
                        <li>{{items}}</li>
                    {{/each}}
                </ul>
                <div class="starProduct">
                {{#stars stars}}{{body}}{{/stars}}
                </div>
                <div class="purchase flexCenter">
                    {{#if @root.isAuth}}
                        {{#if @root.catalogPage}}
                            <i class="material-icons"
                               onclick="userList(event,'{{_id}}')"
                               {{#if list}}style="color:var(--red-dark)"{{/if}}>
                                {{#if list}}playlist_add_check{{else}}playlist_add{{/if}}</i>
                        {{/if}}
                        <i class="material-icons"
                            {{#if @root.favorites}}
                           onclick="userLikeDel(event,'{{_id}}')"
                            {{else}}
                           onclick="userLike(event,'{{_id}}')"
                            {{/if}}
                           {{#if like}}style="color:var(--red-dark)"{{/if}}>
                            {{#if like}}favorite{{else}}favorite_border{{/if}}</i>
                    {{/if}}
                    <div class="priceFilter">
                        {{#if price}}<a href="/catalog/{{_id}}" class="price">{{price}}</a>{{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    {{else}}
        <div class="noDataBlock">
            <div class="cartIsEmpty">Такого продукта не найдено</div>
            <i class="material-icons cartIsEmpty" style="font-size: 3rem;text-align: center;">category</i>
        </div>
    {{/ifgt}}
</div>