<div class="listStarsRecall">
    {{#if isAuth}}<a class="btn" href="/catalog/product/{{product._id}}/comment"
                     style="background:{{product.colorBackground}};color: var(--white-black);">
        Оставить{{#ifeq product.listReviews.length 0}} первый{{/ifeq}} отзыв</a>{{/if}}
    {{#ifne product.countRecall 0}}<p style="text-align: center;">Отзывы с оценкой</p>{{/ifne}}
    {{#each product.listStars}}
        <a href="/catalog/product/{{@root.product._id}}/review/{{_id}}"
           class="recall-filter recallStar"
        {{#ifeq @root.star _id}}style="background: var(--zircon);border: 3px solid {{@root.product.colorBackground}}"{{/ifeq}}>
            {{#stars _id}}{{body}}{{/stars}}
            <span class="recall-filter" data-id="{{_id}}">
                {{#starRecall numberStarRatings}}{{body}}{{/starRecall}}</span>
        </a>
    {{/each}}
    <a class="btn flexCenter"
       href="/catalog/product/{{product._id}}/review/0"
       style="border: 2px solid {{product.colorBackground}};color:{{product.colorBackground}};{{#ifeq @root.star 0}}background: var(--zircon);{{/ifeq}}">Все отзовы</a>
</div>