<div class="recall request">
    <div class="recallInf">
        {{#ifne product.countRecall 0}}<h3>Отзовы <strong>{{product.countRecall}}</strong></h3>
        {{else}}<h3>Отзывов еще никто не оставил</h3>{{/ifne}}
        <div class="filterRecall">
            {{#ifne product.countRecall 0}}
                {{>reviews/reviewsStars}}
            {{else}}
                {{#if isAuth}}
                    <a class="btn" href="/catalog/product/{{product._id}}/comment"
                       style="background:{{product.colorBackground}}">Оставить первый отзыв</a>
                {{/if}}
            {{/ifne}}
        </div>
        {{>reviews/listReviews}}
    </div>
</div>
<script src="/product/recall.js"></script>