<div class="recall request">
    <div class="recallInf">
        <h3>Отзовы <strong>{{recall.length}}</strong></h3>
        <div class="filterRecall">
            <a class="btn" href="/catalog" style="background:{{product.colorBackground}}">Оставить отзыв</a>
            <div class="listStarsRecall">
                <p>Показать отзывы с оценкой</p>
                {{#each product.recallList}}
                    <div><a class="recall-filter" data-id="{{size}}">
                        {{#stars size}}{{body}}{{/stars}}
                        <span class="recall-filter" data-id="{{size}}">{{#starRecall value}}{{body}}{{/starRecall}}</span>
                    </a></div>
                {{/each}}
            </div>
        </div>
        {{#each recall}}
            <div class="recallList">
                <div class="recallUser">
                    <div class="photoRecall">
                        <img src="{{photoUser}}" alt="">
                    </div>
                    <strong>{{name}}</strong>
                    {{#if verifiedUser}}
                        <i class="material-icons" style="color: #29ad2e">assignment_turned_in</i>
                        <span>Проверенный покупатель</span>
                    {{else}}
                        <span style="color: #474747">Не проверенный покупатель</span>
                    {{/if}}
                    <div class="starsRecall">{{#stars rating}}{{body}}{{/stars}}</div>
                </div>
                <div class="messageRecall">
                    {{#if photo}}
                        <div class="photoRecall">
                            <img class="materialboxed" src="{{photo}}" alt="">
                        </div>
                    {{/if}}
                    {{#if advantages}}<div class="infRecall"><b>Достоинства: </b>{{advantages}}</div>{{/if}}
                    {{#if limitations}}<div class="infRecall"><b>Недостатки: </b>{{limitations}}</div>{{/if}}
                    {{#if comment}}<div class="infRecall"><b>Комментарий: </b><p>{{comment}}</p></div>{{/if}}
                    <div class="dateRecall">
                        Коментарий был написан  <b class="date">{{toDate date}}</b>
                        <div class="likeRecall">
                            <i class="material-icons">thumb_up</i><span>{{like}}</span>
                            <i class="material-icons">thumb_down</i><span>{{likeNot}}</span>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>