<h3 class="left-align">Предложения магазинов</h3>
<div>{{getTime}}</div>
{{#each brands}}
<div class="shop">
    <div class="logoStore">
        <a href="/catalog/{{id}}/brand">
            <img src="{{photoURL}}" alt="">
            <div>{{#stars rating}}{{body}}{{/stars}}</div>
        </a>
    </div>

    <div class="shopExtra" style="color: {{@root.product.colorBackground}}">
        {{#paymentFormat format}}{{{body}}}{{/paymentFormat}}
    </div>
    <div class="priceFilter">
        <p class="price">{{price}}</p>
    </div>
</div>
{{/each}}